/* Import Google Fonts for use in the document */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* General body styling */
body {
  font-family: "Source Sans Pro", "sans-serif"; 
  margin: 0; 
  padding: 0; 
  text-decoration: none; 
  list-style-type: none; 
  outline: none; 
}

/* Container styling */
.container {
  width: 100%; 
  margin: 1em auto; 
  background-color: whitesmoke; 
}

/* Grid styling for layout */
.grid {
  display: grid; 
  margin-left: .5px; 
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 0.2em; 
  justify-content: center; 
}

/* Heading 2 styling */
h2 {
  background-color: antiquewhite; 
}

/* Paragraph styling */
p {
  text-align: justify; 
}